<p>こんにちは <%= @resource.email %>!</p>

<p>パスワード変更リクエストがありました。下記リンクより変更が可能です。</p>

<p><%= link_to 'パスワード変更', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>もし身に覚えがない場合、本メールは無視してください。</p>
<p>リンクにアクセスしないがぎり、パスワードは変更されません。</p>
